body {
    color: #FFFBFE;
    background-color: #D0CFCF;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#main-rectangle-workplace {
    border: 1px solid;
    border-radius: 5px;
    padding: 0;
    /* width: 700px; */
}

#input-side-rectangle-workplace {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    padding: 0;
}

#input-side-rectangle {
    padding: 20px 20px 20px 15px;
    border-right: 1px solid #FFFBFE;
    display: flex;
    flex-direction: column;

}

#output-side-rectangle-workplace {
    display: inline-block;
    width: 60%; 
}

#output-side-rectangle {
    padding-top: 50px;
    padding-left: 10px
}

#output-side-content {
    padding: 10px 15px;
}

#output-side-answer-1-content-rectangle {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    display: flex;
}

#output-side-answer-1-text-workspace {
    display: inline-block;
    width: 30%;
}

#output-side-answer-1-text {
    display: block
}

#answer-1-text {
    font-size: 20px;
}

#output-side-answer-1-value-workspace {
    display: inline-block;
    text-align: right;
    width: 70%;
    font-size: 32px;
}

#output-side-answer-2-content-rectangle {
    width: 100%;
    display: flex;
}

#output-side-answer-2-text-workspace {
    display: inline-block;
    width: 30%;
}

#output-side-answer-2-text {
    display: block;
}

#total-text {
    font-size: 20px;
}

#output-side-answer-2-value {
    display: inline-block;
    text-align: right;
    width: 70%;
    font-size: 32px;
}

#input-side-variable-a-text {
    padding-bottom: 5px;
    font-size: 20px;
}

#input-side-variable-b-text{
    padding-top: 16px;
    padding-bottom: 5px;
    font-size: 20px;
}

#input-side-number-variable-c-text {
    padding-top: 16px;
    padding-bottom: 5px;
    font-size: 20px;
}

#input-side-variable-a {
    width: 100%;
}

.input {
    height: 32px;
    border: 0.5px solid;
    border-radius: 7px;
    box-shadow: inset 0.5px 0.5px 0.5px;
    font-size: 24px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 100%;
}

/* ------------------------------ contente above is for the calculator card ------------------------------ */

.sections-without-title {
    width: auto;
    height: 340px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;
}

#global-title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #363946;
    height: 70px;
    padding: 10px;
}

#global-title-text {
    font-weight: 900;
    font-size: 35px;
}

#calculator-title-text-container {
    background-color: #D0CFCF;
    padding-left: 100px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 100px;
}

.sticky + #calculator-title-section {
    padding-top: 100px;
}

#calculator-title-section {
    padding-top: 30px;
}

#calculator-content-container {
    padding-left: 10px;
}

#calculator-use-paragraph-container {
    padding-left: 10px;
}